[Unit]
Description=webinairev2 NestJS Backend
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/var/www/html/webinairev2/apps/backend
ExecStart=/usr/bin/pnpm start
Restart=always
RestartSec=10
StartLimitIntervalSec=60
StartLimitBurst=3
EnvironmentFile=/var/www/html/webinairev2/.env
LimitNOFILE=50000
StandardOutput=append:/var/log/webinairev2_backend_output.log
StandardError=append:/var/log/webinairev2_backend_error.log

[Install]
WantedBy=multi-user.target
